.sessions-controller {
    &.new-view {
        
        .sign-in-form {
            background-color: $petron-color-primary;
            height: 100vh;
            width: 100vw;
        
            .info-container, .form-container {
                height: 100%;
                display: flex;
                align-items: center;
            }
            .info-container {
                justify-content: end;
                .sign-in-text {
                    width: 25rem;
                    color: rgba(255,255,255,0.8);
                    .system-logo-img {
                        width: 15rem;
                        height: auto;
                    }
                    hr {
                        background-color: #fff;
                        width: 30%;
                    }
                }
            }
            .form-container {
                .sign-in-card {
                    width: 27.5rem;
                }
            }
        }

    }
}