<div class="date-calendar card">
    <div class="calendar-container">
        <div class="calendar-cells"></div>
    </div>
    <div class="calendar-actions-container">
        <a href="#" class="btn btn-sm btn-link pl-0">
            Select specific date...
        </a>
        <button type="button" id="button-calToday" class="btn btn-sm btn-link
            mdi mdi-calendar-today with-icon">
            Today
        </button>
    </div>
    <div class="load-actions-container">
        <div class="fade-container">
            <span class="date-description">
                Today
            </span>
            <a href="#" id="button-loadData" class="btn btn-sm btn-primary">
                <span class="load-text"></span>
                <i class="mdi mdi-chevron-double-right"></i>
            </a>
        </div>
    </div>
</div>