<div class="row m-0">
    <div class="shift-selector-container col pl-0">
        <div class="card card-shadow-1 form-container">
            <div class="card-body">
                <h5 class="card-title mb-4">All Shift Inventory Updates</h5>
                <%= render 'date_shift_calendar' %>
            </div>
        </div>

        
    </div>
</div>