.main-navbar {
    height: $main-navbar-height;
    border-bottom: 1px solid $gray-300;

    position: fixed;
    top: 0;
    width: calc(100vw - #{$main-sidebar-width});
    z-index: 3000;

    background-color: $main-navbar-background-color;

    padding-right: 1.5rem;
    padding-left: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .left-section, .right-section, .navbar-section {
        display: flex;
        align-items: center;
    }

    .right-section { justify-content: end; }

    .account-actions-dropdown {
        @extend .card-shadow-1;
        @extend .p-3;

        min-width: 20rem;

        .account-info {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}