<div class="row m-0">
    <div class="col pl-0">
        <div class="card card-shadow-1 form-container">
            <div class="card-body">
                <h5 class="card-title">New Product</h5>
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>