<tr class="product-price-update-item">
    <td class="product-name-col">

    </td>
    <td class="effective-on-col">
        
    </td>
    <td class="new-price-col">
       
    </td>
    <td>
        <%= 
            link_to_remove_association '', product_price_update,
                wrapper_class: 'product-price-update-item',
                class: 'mdi mdi-close-circle remove-item'
        %>
    </td>
    <td style="display:none">
        <%= product_price_update.hidden_field :product_id,   class: 'product-id-field'   %>
        <%= product_price_update.hidden_field :effective_on, class: 'effective-on-field' %>
        <%= product_price_update.hidden_field :new_price,    class: 'new-price-field'    %>
    </td>
</tr>